{% assign art_slug = include.art.name | slugify %}
{% assign found_image = "" %}

{% assign folder = "/assets/img/" | append: include.type | append: "/" | append: art_slug | append: "/" %}
{% assign folder_down = folder | downcase %}
{% assign folder_len = folder_down | size %}

{% for image in site.static_files %}
  {% assign image_path = image.path | downcase %}
  {% assign image_start = image_path | slice: 0, folder_len %}

  {% if image_start == folder_down %}
    {% assign found_image = image.path %}
    {% break %}
  {% endif %}
{% endfor %}


<a href="/{{ include.type }}/{{ include.art.name | slugify }}">
  <div
    class="box"
    style="background-image: url('{{ site.baseurl }}{{ found_image | default: include.art.image }}');"
  >
    <div class="box" id="name-box">
      {{ include.art.name }}<br />
    </div>
  </div>
</a>


<style>
  .box {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: flex-end;
  }
  #name-box {
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.7);
  }
</style>
